@use "sass:map";
@import "theme";
@import "responsive";

html,body { //reset css
    margin: 0;
}

*{
    font-family: Roboto;
    padding: 0;
    margin: 0;
}

.container { //class
    max-width: 1170px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    //background: map.get($theme-color, "main");
}

.row{ // thuộc tính dòng
    display: flex;
    flex-wrap: wrap;
}

.col-6 { //chia cột
    //<flex-grow> <flex-shrink> <flex-basis>;
    //=>> không giãn thêm, không co lại, kích thước ban đầu = 50% chiều ngang =>> 2 cột mỗi cột chiếm 50%
    flex: 0 0 50%;
    max-width: 50%;
}

@include Responsive($MEDIUM_DIVICE){
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
        color: red;
    }
}
@include Responsive($DESKTOP){
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
        color: red;
    }
}