@use "sass:map";
@import "style/pages/_theme";


.line {
    width: 100%;
    height: 8px;
    background-color: map.get($theme-color, "main-red");
    
    }


.footer {

    background-color: map-get($theme-color, "onyx_grey" );
    padding-top: 30px;
    margin-bottom: 0px;

    .footer_about {
        margin-bottom: 30px;

        .logo_img {
            margin-bottom: 15px;
            display: inline-block;
            .logo {
                border-radius: 20%;
            }
        }

        ul li {
            font-size: 16px;
            color: map.get($theme-color, "main-yellow");
            line-height: 36px;
            list-style: none;
        }
    }

    .footer_widget {
        margin-top: 85px;
        margin-left: 50px;
        margin-bottom: 30px;
        overflow: hidden;

        h6 {
            color: map.get($theme-color, "main-yellow");
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: 700;
        }

        ul{
            float: left;
            width: 50%;

            li {
                list-style: none;
                margin-bottom: 15px;

                a {
                    color: map.get($theme-color, "main-yellow");
                    font-size: 18px;
                    line-height: 32px;
                    text-decoration: none;
                }
            }
        }

        p {
            font-size: 16px;
            color: map.get($theme-color, "main-yellow");
            margin-bottom: 20px;
        }

        form {
            margin-bottom: 20px;

            .input_group {
                display: flex;
                align-items: center;

                input {
                    width: 100px;
                    font-size: 16;
                    padding-left: 20px;
                    height: 46px;
                    border: 2px solid ;
                    border-color: map.get($theme-color, "main-yellow");

                    ::placeholder {
                        color: map.get($theme-color, "main-yellow");
                    }
                }
            
                button {
                    height: 50px;
                    min-width: max-content;
                }
            }

            .footer_widget_social {
                display: flex;
                align-items: center;
                column-gap: 10px;

                div {
                    margin-top: 20px;
                    margin-right: 20px;

                    :hover {
                        background-color: map.get($theme-color, "main-yellow");
                        color: map.get($theme-color, "main-red");
                    }

                    svg {
                        font-size: 20px;   
                        padding: 10px;
                        border: 2px solid map.get($theme-color, "main-yellow");
                        border-radius: 50%;
                        transition: all 0.3s;
                    }
                }
            }
        }
    }
}